*.iml
.gradle/
.gradle-home/
.kotlin/
.git-broken/
/local.properties
/.idea/
.DS_Store
/build/
**/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.keystore
secrets.properties
.env
verify-service/.gradle/
/tools/
.gradle-local/


.secrets/
